@model EPiServerSimpleSite.Models.ViewModels.IPageViewModel<EPiServerSimpleSite.Models.Pages.SitePageData>
<div class="row">
    <div class="span12 footer">
        <hr />
        <div class="row">
            <div class="span3">
                @Html.PropertyFor(x => x.Layout.ProductPages)
            </div>
            <div class="span3">
                @Html.PropertyFor(x => x.Layout.CompanyInformationPages)
            </div>
            <div class="span3">
                @Html.PropertyFor(x => x.Layout.NewsPages)
            </div>
            <div class="span3">
                @Html.PropertyFor(x => x.Layout.CustomerZonePages)
            </div>
        </div>
    </div>
</div>