@using EPiServer.Web.Mvc.Html
@using EPiServerDemoSite.Helpers
@using System.Linq
@using EPiServerDemoSite.Models.Media

@model EPiServerDemoSite.Models.Blocks.ImageCarousalBlock

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 70%;
        margin: auto;
    }
</style>

<div class="container">

    <br>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        @{
            if (Model.FolderPath != null && Model.FolderPath.ID > 0)
            {
                var items = MyHtmlHelper.GetImages(Model.FolderPath);

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">

                    @for (int i = 0; i < items.Count(); i++)
                    {
                        <div  class="item @(i == 0 ? "active" : string.Empty)">
                            <div style="width:420px; height:315px">@Html.PropertyFor(m => items[i].ContentRef)</div>
                        </div>
                    }
                </div>
            }
        }

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>