@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model EPiServerSimpleSite.Models.Blocks.EditorialBlock

<div class="clearfix" @Html.EditAttributes(x => x.MainBody)>
    @Html.DisplayFor(m => m.MainBody)
</div>