@using System.Web.Mvc.Html
@model EPiServerDemoSite.Models.ViewModels.IPageViewModel<EPiServerDemoSite.Models.EPiPageData>
<!DOCTYPE html>
<html>
<head>
    <title>Valtech India</title>
    <link href="~/Static/css/MasterStyle.css" rel="stylesheet" />
    <link href="~/Static/css/bootstrap.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>


    <body>
        <div id="header">
       
            @*@RenderPage("~/Views/Shared/Header.cshtml")*@
            @{
                Html.RenderPartial("Header", Model);
            }
        </div>
        @*<div style="height:130px">
       
    </div>*@
        <div class="main_body">
            @RenderBody()
        </div>
        <div id="footer" class="main_footer">
      
            @*@RenderPage("~/Views/Shared/Footer.cshtml")*@
            @{
                Html.RenderPartial("Footer", Model);
            }
        </div>
        <script src="~/Static/js/main.js"></script>
    </body>

</html>
